background {
  color: #d94e4e;
}

button {
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 15px;
  border-radius: 5px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-family: "Varela Round", sans-serif;
  font-size: 22px;
  height: 50px;
  font-weight: bold;
  width: 200px;
  background-color: white;
}

.text {
  color: white;
  font-weight: bold;
}

.textbox {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
}

.timerbox {
  display: box;
  background-color: #d94e4e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerboxtext {
  margin: 30px;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 600px;
  align-items: center;
  justify-content: center;
}

.timerboxtext ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timerboxtext li {
  display: inline-block;
  margin: 0 5px;
  color: white;
  padding: 8px 10px;
}

.timerboxtext button {
  align-self: center;
  justify-self: center;
}
.timerboxtext h3 {
  color: white;
  align-self: center;
  justify-self: center;
}

.timer {
  font-size: 102px;
}
.start {
  color: white;
}
h1,
h2 {
  margin-top: 34px;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 4px;
  line-height: 1.4em;
}
nav {
  background: #d94e4e;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
}

nav .logo {
  float: left;
  color: white;
  font-size: 20px;
}

nav .logo a {
  text-decoration: none;
  color: white;
}

nav ul {
  float: right;
  list-style: none;
  z-index: 100;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 8px 10px;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

h1,
h2 {
  margin-top: 34px;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 4px;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4 {
  color: #8c3e3e;
  margin-top: 1.8rem;
  margin-bottom: 0em;
}

h1 {
  font-size: 34px;
}
ul {
  font-size: 18px;
  list-style: none;
  -webkit-padding-start: 24px;
}

ol {
  font-size: 16px;
  -webkit-padding-start: 24px;
}

li {
  line-height: 1.6rem;
  color: #403232;
  margin: 12px 0px;
}

.footer {
  margin-top: 40px;
  border-top: 2px solid #efefef;
  text-align: center;
  padding-top: 30px;
  color: #403232;
  padding-bottom: 20px;
  font-family: "Varela Round", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
